<div id='imf-page-content' class='imf-page-content' ng-controller="CountryController">


    <section id='imf-country-statistics-filters' class="imf-container imf-country-container-left">
        <div class='imfs-filter-holder'>
            <label>Country</label>
            <select ng-model="selectedCountrySelect"
                    ng-options="country as country.countryName for country in countrySelectList"
                    ng-change="filterChange()"></select>

            <div ng-if="selectedCountry != null" class="imf-object-details">
                <strong>Country Code</strong> {{selectedCountry.weoCountryCode}}<br/>
                <strong>ISO</strong> {{selectedCountry.iso}}
            </div>

            <label>Search statistics</label>
            <input type="text" class="imf-search-input" placeholder="Search for statistic" ng-model="searchStatistics" ng-change="filterChange()">

            <a ng-if="!pageDefaulted" href="#" onclick="return false;" ng-click="resetToDefaults()">reset page to defaults</a>

        </div>
    </section>
    <section class="imf-container imf-country-container-right">

        <table id='imf-country-statistics-grid' class="table table-bordered imf-expandable-table" fixed-header>
            <thead>
            <tr><th>
                <a href="#" onclick="return false;" ng-click="updateStatisticTable('weoSubjectCode')"
                   class="{{sortType == 'weoSubjectCode' && 'imfs-active' || ''}}">
                    WEO subject code
                    <span ng-show="sortType == 'weoSubjectCode' && !sortReverse" class="imf-arrow-down"></span>
                    <span ng-show="sortType == 'weoSubjectCode' && sortReverse" class="imf-arrow-up"></span>
                </a>
            </th><th>
                <a href="#" onclick="return false;" ng-click="updateStatisticTable('subjectDescriptor')"
                   class="{{sortType == 'subjectDescriptor' && 'imfs-active' || ''}}">
                    Subject descriptor
                    <span ng-show="sortType == 'subjectDescriptor' && !sortReverse" class="imf-arrow-down"></span>
                    <span ng-show="sortType == 'subjectDescriptor' && sortReverse" class="imf-arrow-up"></span>
                </a>
            </th><th>
                <a href="#" onclick="return false;" ng-click="updateStatisticTable('statisticUnit')"
                   class="{{sortType == 'statisticUnit' && 'imfs-active' || ''}}">
                    Unit
                    <span ng-show="sortType == 'statisticUnit' && !sortReverse" class="imf-arrow-down"></span>
                    <span ng-show="sortType == 'statisticUnit' && sortReverse" class="imf-arrow-up"></span>
                </a>
            </th><th style="padding-right:25px;">
                <a href="#" onclick="return false;" ng-click="updateStatisticTable('statisticScale')"
                   class="{{sortType == 'statisticScale' && 'imfs-active' || ''}}">
                    Scale
                    <span ng-show="sortType == 'statisticScale' && !sortReverse" class="imf-arrow-down"></span>
                    <span ng-show="sortType == 'statisticScale' && sortReverse" class="imf-arrow-up"></span>
                </a>
            </th></tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="statistic in selectedCountry.countryStatistics | orderBy:sortType:sortReverse | filter:searchStatistics"
                ng-click="rowClicked(statistic)" style="cursor:pointer;"
                class="{{$odd && 'imfs-odd-row' || ''}} {{statistic.expanded && 'imfs-row-expanded' || ''}}">
                    <td>{{ statistic.weoSubjectCode }}</td>
                    <td>{{ statistic.subjectDescriptor }}</td>
                    <td>{{ statistic.statisticUnit }}</td>
                    <td>{{ statistic.statisticScale }}</td>
            </tr>
            <tr ng-if="statistic.expanded" ng-repeat-end="" class="{{$odd && 'imfs-row-body imfs-odd-row' || 'imfs-row-body'}}">
                <td colspan="4">
                    <div class="imfs-row-body-inner">
                        <img src="{{contextPath}}/images/graph-icon.svg" alt='Graph this statistic' title="Graph this statistic" ng-click="graphStatistic(statistic)"></img>
                        <label style="margin-top:0px;">Subject Notes</label>
                        {{statistic.subjectDescriptor}}
                        <span ng-if="statistic.countryNotes != null && statistic.countryNotes.trim().length > 0">
                            <label>Country Notes</label>
                            {{statistic.countryNotes}}
                        </span>
                    </div>
                </td>
            </tr></tbody>
        </table>

    </section>

</div>